<nav>
  <ul style="list-style: none; display: flex; gap: 20px; background-color: #343a40; padding: 15px;">
    <li><a href="https://someshdiwan.github.io/JavaEvolution-Learning-Growing-Mastering/README" style="color: #fff; text-decoration: none;">📘 Home</a></li>
    <li><a href="https://someshdiwan.github.io/JavaEvolution-Learning-Growing-Mastering/Explaination" style="color: #fff; text-decoration: none;">📖 Explanation</a></li>
    <li><a href="https://someshdiwan.github.io/JavaEvolution-Learning-Growing-Mastering/content" style="color: #fff; text-decoration: none;">📚 All Contents</a></li>
    <li><a href="https://github.com/Someshdiwan/JavaEvolution-Learning-Growing-Mastering" style="color: #fff; text-decoration: none;">🔗 GitHub Repo</a></li>
  </ul>
</nav>
